#usersTable,
#productsTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

h1 {
  text-align: center;
  font-size: 28px;
  margin-top: 24px;
  margin-bottom: 8px;
}

table {
  width: 80%;
  text-align: center;
}

th {
  border: 2px solid black;
  font-size: 20px;
  height: 24px;
  background-color: gray;
  color: white;
}

td {
  border: 2px solid black;
  font-size: 18px;
  height: 20px;
  background-color: bisque;
}

td img {
  width: 200px;
  height: 200px;
}

.delete-button {
  background-color: red;
  border: 1px solid black;
  padding: 4px 8px;
  font-size: 16px;
  cursor: pointer;
}

.add-button {
  margin-top: 16px;
  background-color: green;
  border: 1px solid black;
  padding: 4px 8px;
  font-size: 16px;
  cursor: pointer;
  width: 80%;
  height: 100%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
